<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main h-screen w-full p-4 bg-zinc-900 text-zinc-400 flex flex-col justify-center items-center">
    <form action="/create" method="post" class="flex flex-col gap-4">
      <h1 class="text-3xl text-center">Signup</h1>
      <input name="name" type="text" class="p-3 bg-zinc-800 text-white rounded-lg outline-none w-[300px]" placeholder="name">
      <input name="username" type="text" class="p-3 bg-zinc-800 text-white rounded-lg outline-none w-[300px]" placeholder="username" required>
      <input name="age" type="number" class="p-3 bg-zinc-800 text-white rounded-lg outline-none w-[300px]" placeholder="age">
      <input name="email" type="email" class="p-3 bg-zinc-800 text-white rounded-lg outline-none w-[300px]" placeholder="email" required>
      <input name="password" type="password" class="p-3 bg-zinc-800 text-white rounded-lg outline-none w-[300px]" placeholder="password" required>
      <div class="flex items-center justify-center">
        <button class="p-3 bg-zinc-800 text-white rounded-lg outline-none w-[100px]" type="submit">Sign up</button>
      </div>
    </form>
    <a href="/Login"><button class="p-3 mt-5 tra bg-zinc-800 text-white rounded-lg outline-none w-[100px]" type="submit">Login</button></a>
  </div>
</body>
</html>